@import url('./reset.scss');
html, body {
    font-family: cursive;
    background: #02dcf8;
    font-size: 18px;
}
body {
    background: #02dcf8;
    .removeBlog, .closeBtn {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 25px;
        font-weight: bold;
        color: #b21818;
        border-left: 2px solid;
        border-bottom: 2px solid;
    }
    .addBlogBtn {
        width: 70%;
        height: 50px;
        border-radius: 50px;
        display: block;
        margin: 0 auto;
    }
    .container {
        width: 60%;
        padding: 20px 40px;
        margin: 0 auto;
        background: #152668;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: right;
        .searchBlog {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 20px 0;
            .searchBlogInput {
                flex-basis: 100%;
                height: 35px;
                font-size: 20px;
                border-radius: 5px;
            }
        }
    }
    .blogList {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        .blogCont {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            background: #ffffff;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 10px;
            .blogInfo {
                display: flex;
                flex-flow: row wrap;
                align-items: flex-start;
                dt {
                    flex-basis: 20%;
                    margin-bottom: 5px;
                    font-weight: bold;
                }
                dd {
                    flex-basis: 80%;
                    margin-bottom: 5px;
                    text-align: justify;
                }
            }
        }
    }
    .btn {
        font-size: 20px;
        cursor: pointer;
        background-color: #b21818;
        color: white;
        border: none;
        &:hover {
            background-color: #02dcf8;
        }
        &:active {
            position: relative;
            top: 1px;
        }
    }
    .modalContainer > div {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0,0,0,0.4);
        .modal {
            margin: 200px auto;
            padding: 15px;
            width: 600px;
            height: auto;
            background: #152668;
            .confirmModal  {
                position: relative;
                .message {
                    display: inline-block;
                    margin: 20px 0;
                    width: 100%;
                    text-align: center;
                    font-size: 18px;
                    color: white;
                }
                .buttonSet {
                    width: 60%;
                    margin: 15px auto;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: space-between;
                    button {
                        display: inline-block;
                        width: 125px;
                        height: 40px;
                        border-radius: 5px;
                    }
                }
            }
            .addBlogModal {
                position: relative;
                .addBlogForm {
                    width: 500px;
                    margin: 0 auto;
                    padding: 30px 0;
                    color: white;
                    label {
                        display: inline-block;
                        width: 100%;
                        font-size: 18px;
                        margin-bottom: 3px;
                    }
                    input, textarea {
                        display: inline-block;
                        width: 100%;
                        height: 25px;
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                    textarea {
                        height: 75px;
                        resize: vertical;
                    }
                }
            }
        }
    }
}